{% extends "base.html" %}
{% load static %}
{% block title %}
이메일 스팸 감지기
{% endblock title %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'ai_app/css/home.css' %}" />
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const textarea = document.getElementById("email-content");
    const form = document.getElementById("emailForm");

    textarea.addEventListener("keydown", function (event) {
      if (event.key === "Enter" && !event.shiftKey) {
        event.preventDefault(); // Enter 키로 폼 제출 방지
        form.submit(); // Enter 키로 폼 제출
      }
    });
  });
</script>
{% endblock extrahead %}

{% block content %}
<div class="container">
        <h1>이메일 스팸 감지기</h1>
        <p>아래에 이메일 내용을 입력하면 스팸 여부를 확인합니다.</p>
        <p style="color:red;">Only English</p>

        <form action="{% url 'check' %}" method="POST" id="emailForm">
            {% csrf_token %}
            <label for="email-content">이메일 내용:</label>
            <textarea id="email-content" name="email-content" rows="10" required></textarea>

            <button type="submit" class="submit-btn">스팸 확인</button>
        </form>

        <div id="result">
        {% if result %}
            {% if "스팸" in result %}
                <span style="color: #993333">{{ result }} {{ probability }}%</span>
            {% else %}
                <span style="color: #4CAF50">{{ result }} {{ probability }}%</span>
            {% endif %}
        {% else %}
            <span>결과가 없습니다.</span>
        {% endif %}
        </div>

    </div>
{% endblock content %}